<h1>User Login </h1> 



<div id="container" >
    <form [formGroup]="LoginForm" (ngSubmit)="Login(LoginForm.value)" autocomplete="off">
        <div class="form-group" >
            <label align="left">User Name</label>
            <input type="text" class="form-control" style="width: 350px;height: 40px" formControlName="username" placeholder="User Name"  />
        </div>
        <div class="form-group" >
            <label align="left">Password</label>
            <input type="password" formControlName="password" style="width: 350px;height: 40px" class="form-control" placeholder="Password" />
        </div>
        
        <div id="loginButton">            
            <input type="submit" value="Login" style="font-size: 15px;width: 120px;height: 40px" class="btn btn-primary" />&nbsp;&nbsp;
            <input  value="Sign Up" style="font-size: 15px;width: 120px;height: 40px" class="btn btn-primary" (click)="moveRegistration()"/>

        </div>
       
    </form>
</div>
<br/>

<div id="container">
        <div *ngIf="error" style="color: darkred;font-size: 18px;" >
        *username and password is incorrect
    </div>




